<div class="dialog-wrapper">
	<form [formGroup]="form" (ngSubmit)="submit()">
		<h1 mat-dialog-title>Crie sua denúncia</h1>
		<div mat-dialog-content>
			<mat-form-field appearance="outline">
				<mat-label>Qual o tipo de denúncia</mat-label>
				<mat-select formControlName="type">
					<mat-option *ngFor="let complaint of complaints" [value]="complaint.text">
						{{complaint.text}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="example-full-width" appearance="outline">
				<mat-label>Descreva a denúncia</mat-label>
				<textarea matInput placeholder="A quanto tempo, como começou, riscos às pessoas..."
					formControlName="description"></textarea>
			</mat-form-field>
		</div>
		<div mat-dialog-actions>
			<button mat-button (click)="close()">Cancelar</button>
			<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Enviar</button>
		</div>
	</form>
	<div class="loading" *ngIf="loading">
		<mat-spinner mode="indeterminate" [diameter]="40"></mat-spinner>
	</div>
</div>
